<section id="artist" class="page-load-effect container">
  
  <div class="row">

    <div class="col s12 m6">
      <div class="title">
        Who is Yusso?
      </div>
      <hr class="dark"/>
      <div class="content">
        Eben Yusso, better known professionally by his stage name Yusso, is a rapidly rising star in Ottawa’s rap scene.
      </div>
    </div>

    <div class="col s12 m6">
      <%= image_tag "bg1.jpg" %>
    </div>

    <div class="col s12 m6 hide-on-small-only">
      <%= image_tag "bg2.jpg" %>
    </div>

    <div class="col s12 m6">
      <div class="title">
        Influences
      </div>
      <hr class="dark"/>
      <div class="content">
        Yusso attributes his influences to some of the heavy weights in the business including now deceased pop super star Michael Jackson, Kanye, Bone Thugs N’ Harmony and American superstar rapper Kendrick Lamar.
      </div>
    </div>

    <div class="col s12 m6 hide-on-med-and-up">
      <%= image_tag "bg2.jpg" %>
    </div>

    <div class="col s12 m6">
      <div class="title">
        Revolutionary Sound
      </div>
      <hr class="dark"/>
      <div class="content">
        With no official release date set, Yusso is working away with some of the city’s top producers and artists to make something that he described as ‘revolutionary’ in its sound and delivery. 
      </div>
    </div>

    <div class="col s12 m6">
      <%= image_tag "bg3.jpg" %>
    </div>

  </div>


</section>
