<div class="bg-container">
	<div id="theartist-container-1" class="page-load-effect bg-zoom-in">
	</div>
</div>
<div class="bio-container">
	<div class="bio page-load-effect">
		&emsp;&emsp;Eben Yusso, better known professionally by his stage name Yu$$o, is a rapidly rising star in Ottawa’s rap scene. Yu$$o attributes his influences to some of the heavy weights in the business including now deceased pop super star Michael Jackson, Wiley, Kanye, Bone Thugs N’ Harmony and American superstar rapper Kendrick Lamar. With such a diverse group of idols there is no doubt Yu$$o is destined for greatness.<br><br>

		&emsp;&emsp;With all that has happened in his career over the past year, Yu$$o has finally been able to make time to get back in the studio and concentrate on his own solo project. With no official release date set, Yu$$o is working away with some of the city’s top producers and artists to make something that he described as ‘revolutionary’ in its sound and delivery. 
	</div>
</div>

<div id="theartist-container-2" class="page-load-effect">
	<div class="bio-2 page-load-effect">
		&emsp;&emsp;With the initial online buzz he was able to create off his mixtape project, Yu$$o began to book local shows in Canada’s capital city and his new hometown Ottawa! Combined with his online presence and highly interactive and energetic stage show he began to make a name for himself, it was clear to see Yu$$o the artist had arrived on the scene and is here to stay!<br><br>

		&emsp;&emsp;Yu$$o’s music articulates real life experiences, emotion, and thought provoking lyrics. With a keen ear for professional level production, Yu$$o has set himself apart from other emcee’s, in not only his city but also his entire region. 
	</div>
</div>

<div id="scroll" class="page-load-effect">Scroll
	<svg class="arrows">
		<path class="a1" d="M0 0 L30 32 L60 0"></path>
		<path class="a2" d="M0 20 L30 52 L60 20"></path>
		<path class="a3" d="M0 40 L30 72 L60 40"></path>
	</svg>
</div>





