<div id="thebasis-container" class="page-load-effect" style="background-color: #222;">

<div class="countdown"></div>
<!-- 
	<%= video_tag ['nominepatris.mp4','nominepatris.webm','nominepatris.ogv'], 
						id: 'bgvideo', autoplay: true , loop: true, muted: true %>

	<div id="doyouknow">Do you know?</div>
	<div id="yussotext">Y&#217;$$&#211;</div>

	<div id="caption">
		Born in the wild.<br>
		Raised by aliens.<br>
		Sent to school with humans...<br><br>
		<div id="watchvid" class="not-mobile-friendly">
			Watch Video
		</div>
	</div>

	<div class="video-wrapper">
	<%= video_tag ['makeamove.mp4','makeamove.webm','makeamove.ogv', ], 
						id: 'featuredvid', autoplay: false , loop: false, muted: false, controls: true %>

	<div class="close">CLOSE</div>
	</div> -->
  <%= render 'layouts/footer' %>


</div>

<div id="mb">
	<%= render 'mobile' %>
</div>



