<div id="thebasis-container-1">


	<%= video_tag ['yusso-face-distortion.mp4','yusso-face-distortion.webm','yusso-face-distortion.ogv'], 
						id: 'bgvideo', autoplay: true , loop: true, poster: 'eben.jpg' %>

	<div id="doyouknow">Do you know?</div>

	<%= image_tag 'yussowhite.svg', alt: 'Yusso Logo', id: 'yussologo-1' %>



</div>