@import "font-awesome";
@import "materialize";
@import "lib";
@import "layout";
@import "loading-screen";
@import "mobile";
@import "shows";
@import "art";
@import "artist";
@import "basis";

body{
 	margin: 0;
  font-weight: 300;
 	overflow-x: hidden;
	background-color: #111;
  font-family: 'Open Sans', sans-serif;
 }

.container{
  width: 80%;
}

a{
	text-decoration: none;
	color: inherit;
	&::visited{
		color: #fffaf0;
	}

	&:focus{
		outline-style: none;
	}
}

hr.dark{
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  margin: 1.5rem auto;
  border: 0;
  width: 50%;
  height: 4px;
}


ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

.arrows{
	width: 60px;
	height: 90px;
	position: fixed;
	left: 90%;
	top:50%;
	color: #fff;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	@include prefixer(animation, arrow 2s infinite);
}

@keyframes arrow
{
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

@-webkit-keyframes arrow
{
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

.arrows path.a1 {
	@include prefixer(animation-delay, -1s);
}

.arrows path.a2 {
	@include prefixer(animation-delay, -0.5s);
}

.arrows path.a3 {	
	@include prefixer(animation-delay, 0s);
}


/*REPSONSIVENESS*/

@media screen and (max-width: 750px){

	#footerlinks{
		display: none !important;
	}

	div#loading-screen div{
		font-size: 3.5rem;	
	}


}



