@import "lib";

#countdown{
	@include center;
	font-family: 'Poiret One', cursive;
	position: absolute;
	width: 60vw;
	height: 15vw;
	background-color: #222;
	color: #eee;
	border: none;
	font-size: 5vw;
}