@import "lib";

.countdown{
	@include center;
	font-family: 'Poiret One', cursive;
	width: 70vw;
	height: 15vw;
	color: #eee;
	border: none;
	font-size: 5vw;
}

.is-countdown{
	background-color: transparent;
}