@import "lib";

div#shows-container-1{
  transition: all 500ms ease-in;
	background-image: image-url('bg5.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;

  h1{
    margin: 0;
    padding: 5rem 0 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #fffaf0;
  }

}

div.form{
  position: absolute;
  top: 20px;
  left: 20px;
	width: 500px;
	background-color: #fff;
}

#shows-table{
	@include center;
	width: 70vw;
	color: #eee;
	font-family: 'Source Code Pro', sans-serif;
	letter-spacing: 1px;
}

.shows-row{
	height: 90px;
	width: 70vw;
	overflow: hidden;

  .title{
    text-transform: uppercase;
    width: 30%;
    color: #ffd700;
    opacity: 0.7;
  }

	&:last-child{
		border-bottom: 0px solid #eee;
	}
}

.date{
  width: 20%;
  opacity: 0;
  font-weight: 300;
}

.time{
  width: 15%;
  font-weight: 300;
  opacity: 0;
}

.location{
  width: 35%;
  font-weight: 300;
  opacity: 0;
}

.shows-columns{
	display: table-cell;
	vertical-align: middle;
	height: 89px;
	padding-right: 20px;
	@include prefixer(transition, 350ms linear);
}


.show{
	opacity: 0.8;
}

svg.line{
	transform-origin: 0 0;
	opacity: 0.85;
	width: 5%;
	@include prefixer(transition, 500ms linear);
}

svg.line line{
	stroke: #eee;
	stroke-width: 1px;
}





