div#shows-container-1{
	background-image: image-url('gasstation.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;
}

div.form{
	position: absolute;
	width: 500px;
	height: 300px;
	top: 0; bottom: 0;left: 0; right: 0;
	margin: auto;
	background-color: #fff;
}

#shows-table{
	position: absolute;
	margin: auto;
	top: 20vh;
	width: 70vw;
	bottom: 0;left: 0; right: 0;
	color: #eee;
	font-family: 'Source Code Pro', sans-serif;
	letter-spacing: 1px;
}

.shows-row{
	height: 90px;
	width: 70vw;
	overflow: hidden;
	&:last-child{
		border-bottom: 0px solid #eee;
	}
}

.shows-columns{
	display: table-cell;
	vertical-align: middle;
	height: 89px;
	padding-right: 20px;
	-webkit-transition: 350ms linear; 
  -moz-transition: 350ms linear;
  -o-transition: 350ms linear;
  transition: 350ms linear;
}

.title{
	text-transform: uppercase;
	width: 30%;
	color: #ffd700;
	opacity: 0.7;
}

.date{
	width: 20%;
	opacity: 0;
	font-weight: 300;
}

.time{
	width: 10%;
	font-weight: 300;
	opacity: 0;
}

.location{
	width: 35%;
	font-weight: 300;
	opacity: 0;
}

.show{
	opacity: 0.8;
}

svg.line{
	transform-origin: 0 0;
	opacity: 0.85;
	width: 5%;
	-webkit-transition: 500ms linear; 
  -moz-transition: 500ms linear;
  -o-transition: 500ms linear;
  transition: 500ms linear;
}

svg.line line{
	stroke: #eee;
	stroke-width: 1px;
}





