div#theart-container-1{
	background-image: image-url('talkingtrees.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;
}

img#music{
	margin: 0 auto;
	display: block;
	opacity: 0.85;
	height: 350px;
	width: 350px;
}

#music-container{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 390px;
  width: 800px;
}

.music-container-1, .music-container-2{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 370px;
	height: 370px;
	background-color: #eee;
	position: relative;
}

.playbutton1, .playbutton2 {
	opacity: 1;
	position: absolute;
	top: 0; bottom: 0;left: 0; right: 0;
	margin: auto;
	height: 50px;
	width: 50px;
}

.pausebutton1, .pausebutton2{
	opacity: 1;
	position: absolute;
	top: 0; bottom: 0;left: 0; right: 0;
	margin: auto;
	height: 90px;
	width: 90px;

}

.song-caption1, .song-caption2{
	position: absolute;
	top: 0; bottom: 0;left: 0; right: 0;
	padding-top: 80%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	font-size: 2em;
}

span.thetitle{
	display: block;
	color: #fff;
	font: 300 3em 'Open Sans', sans-serif;
	text-transform: uppercase;
	width: 100vw;
	text-align: center;
	letter-spacing: 0.15em;
}


@media screen and (max-width: 800px){

	#music-container{
	  height: 780px;
	  width: 390px;
	}

	.music-container-1, .music-container-2{
		display: block;
		width: 350px;
		margin: 10px auto;
	}

}


@media screen and (max-width: 450px){

	img#music{
		height: 80vmin;
		width: 80vmin;
	}
	.music-container-1, .music-container-2{
		width: 80vmin;
	}

	.song-caption1, .song-caption2{
		font-size: 1.5rem;
	}

	#music-container{
		height: 100vh;
		width: 100vw;
	}

}






