div#followyusso-container-1{
	background-image: image-url('blue-space-cloud.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

div#followyusso-container-2{
	z-index: 1;
	position: relative;
}

img.instagram-photos{
	margin: 0 auto;
	display: block;
	padding-top:3rem;
	max-width: 100vw;
}

div.instagram-caption{
	background-color: #fff;
	margin: 0 auto;
	color: #777;
	max-width: 100vw;
	padding: 10px;
	font: 300 1.1em 'Open Sans', sans-serif;
	border-top: 1px solid #ddd;
	max-width: 620px;
	width: 100vw;
}

div#scroll{
	position: fixed;
	color: #fff;
	font: 400 1em 'Poiret One', cursive;
	left: 90%;
	top:47%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.arrows {
	width: 60px;
	height: 72px;
	position: fixed;
	left: 90%;
	top:50%;
	color: #fff;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

div#theartist-container-1{
	background-image: image-url('eben-smiling.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

div.bio{
	background-color: #fff;
	color: #000;
	font: 300 1.1em 'Open Sans', sans-serif;
	padding: 10px;
	width: 30vw;
	position: absolute;
	top: 20vh;
	left: 10vh;
	letter-spacing: 2px;
	overflow-y: scroll;
	max-height: 60vh;
}

div#theartist-container-2{
	background-image: image-url('generality.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

div.bio-2{
	background-color: #fff;
	color: #000;
	font: 300 1.1em 'Open Sans', sans-serif;
	padding: 10px;
	width: 30vw;
	position: absolute;
	top: 10vh;
	right: 45vh;
	letter-spacing: 2px;
	overflow-y: scroll;
	max-height: 60vh;
}