@import "lib";

section#music{
	height: 100vh;
	width: 100vw;
}


section#music-side-panel{
	min-height: 100vh;
	width: 250px;
	background-color: #789;
	position: absolute;
	top: 0;
	left: 0;

	ul{
		padding: 0.5rem 0; 

		li{
			padding: 0.5rem 1rem;
			color: #eee;
			font: 400 1.5rem 'Amatic SC', sans-serif;
			cursor: pointer;

			&:hover{
				color: #ffd700;
			}
		}
	}

	img{
		padding: 0.5rem;
		width: calc(100% - 1rem);
	}
}

section.music-background{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 250px;
	width: calc(100vw - 250px);
	background-color: red;
	background-size: cover;

	&:nth-child(2){
		opacity: 1;
	}

	div.song-title{
		color: #eee;
		font: 400 6rem 'Amatic SC', sans-serif;
		text-align: center;
		padding-top: 5vh;
	}
}

/*div#theart-container-1{
	background-image: image-url('blowing-upwards.jpg');
	background-size: cover;
	height: 135vh;
	position: relative;
}

img#music{
	margin: 0 auto;
	display: block;
	opacity: 0.85;
	height: 370px;
	width: 370px;
}

section#music{
  @include outer-container(40rem);
  height: calc(40rem * (420/640));
  @include center-vertically;
}

.music-container{
  @include span-columns(4, 3);
  margin: 1.5%;
  display: inline-block;
  border: 0.5rem solid #333;
  position: relative;

  img.cover-art{
  	display: block;
  	width: 100%;	
  }

  &:after{
  	display: none;
		position: absolute;
		bottom: 2rem;left: 0; right: 0;
		text-align: center;
		color: #ee82ee;
		text-transform: uppercase;
		font-family: 'Poiret One', cursive;
		font-size: 2vw;
		content: attr(data-song-caption);
  }

  img.playbutton, img.pausebutton{
  	display: none;
		position: absolute;
		top: 0; bottom: 0;left: 0; right: 0;
		margin: auto;
		height: 50px;
		width: 50px;
  }

  img.pausebutton{
		width: 20px;
	}

	&:hover{
		cursor: pointer;
	}

}

span.thetitle{
	display: block;
	color: #fff;
	font: 300 3em 'Open Sans', sans-serif;
	text-transform: uppercase;
	width: 100vw;
	text-align: center;
	letter-spacing: 0.15em;
}*/

