div#thebasis-container-1{
	background-color: #000;
	background-image: image-url('yusso-solo.JPG');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	line-height: 100vh;

	img{
		width: 35vw;
	    position: absolute;
	    margin: 0 auto;
	    top: 2vh;left: 0;right: 0;bottom: 0;
	}

	#doyouknow{
		color: #fff;
		font: 300 4em 'Open Sans', sans-serif;
		text-align: center;
	}
}

@media screen and (max-width: 450px){

	div#thebasis-container-1 > #doyouknow{
		font-size: 3em;
	}

}
