div#thebasis-container-1{
	background-image: image-url('eben-v3.jpg');
	background-size: cover;
	height: 100vh;
	line-height: 100vh;

	img{
		width: 40vw;
	    position: absolute;
	    margin: 0 auto;
	    top: 1vh;left: 0;right: 0;bottom: 0;
	    z-index: 2;
	}

	#doyouknow{
		color: #fff;
		font: 300 4em 'Open Sans', sans-serif;
		text-align: center;
		z-index: 2;
		position: absolute;
		width: 100vw;
	}
}

@media screen and (max-width: 450px){

	div#thebasis-container-1{

		img {
			width: 90vw;
			top: 10vh;
		}

		#doyouknow{
		font-size: 3em;
		}
	}
}

video#bgvideo {
	position: fixed;
	z-index: 1;
	height: 100vh;
}

div#menutext{
	position: absolute;
	padding-left: 2vw;
	top: 1em;
	font-family: 'Poiret One', cursive;
	font-size: 1em;
	height: 1em;
	line-height: normal;
	overflow: hidden;
	z-index: 10;
	position: fixed;
	width: 99vw;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

.right{
	float: right;
	padding: 0 0.4vw !important;
}



.slide-up-effect a.slider {
	overflow: hidden;
	color: #fff;
	padding: 0 0.25vw;
	cursor: pointer;
}

.slide-up-effect a.slider span {
	position: relative;
	z-index: 2;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.slide-up-effect a.slider span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	color: #fff;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slide-up-effect a.slider:hover span,
.slide-up-effect a.slider:focus span {
	-webkit-transform: translateY(-105%);
	-moz-transform: translateY(-105%);
	transform: translateY(-105%);
}

div#caption{
	font-family: 'Poiret One', cursive;
	font-size: 2em;
	color: white;
	position: absolute;
	z-index: 3;
	line-height: normal;
	width: 100vw;
	text-align: center;
}

div#watchvid{
	font: 400 1em 'Poiret One', cursive;
	color: #fff;
	border: 1px solid #fff;
	padding: 1.5em 5em;
	z-index: 3;
	width: 8em;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-sizing: initial;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	transition: background-color 0.4s;

	&:hover{
		cursor: pointer;
		background-color: #fff;
		border: 1px solid #000;
		color: #000;
	}
}

div#footerlinks{
	width: 100vw;
	text-align: center;
	position: fixed;
	bottom: 0.5vh;
	font-family: 'Poiret One', cursive;
	font-size: 1em;
	line-height: normal;
	overflow: hidden;
	color: #ccc;
	z-index: 10;

	a.slider{
		color: #ccc;
	}
}

a{
	text-decoration: none;
	color: inherit;
	&::visited{
		color: #fff;
	}
}

video#featuredvid{
	display: block;
	z-index: 100;
	position: absolute;
	height: 50vh;
	margin: 0 auto;
	border: 1px solid #fff;
}

div.close{
	letter-spacing: 2px;
	font: 300 1em 'Open Sans', sans-serif;
	z-index: 101;
	color:#fff;
	position: absolute;
	margin: 0 auto;
	padding: 5px;

	&:hover{
		cursor: pointer;
	}
}

#menutext2{
	line-height: normal;
	position: absolute;
	width: 100vw;
}

a.mobile-menu{
	font: 400 1em 'Poiret One', cursive;
	display: block;
	border: 1px solid #000;
	padding: 0.4em 2.3em;
	width: 3em;
	text-align: center;
	margin-top: 0.6em;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	color:#000;
}







