div#thebasis-container-1{
	background-image: image-url('eben-v2.jpg');
	background-size: cover;
	height: 100vh;
	line-height: 100vh;

	img{
		width: 40vw;
	    position: absolute;
	    margin: 0 auto;
	    top: 1vh;left: 0;right: 0;bottom: 0;
	    z-index: 2;
	}

	#doyouknow{
		color: #fff;
		font: 300 4em 'Open Sans', sans-serif;
		text-align: center;
		z-index: 2;
		position: absolute;
		width: 100vw;
	}
}

@media screen and (max-width: 450px){

	div#thebasis-container-1{

		img {
			width: 90vw;
			top: 10vh;
		}

		#doyouknow{
		font-size: 3em;
		}
	}
}

video#bgvideo {
	position: fixed;
	z-index: 1;
	height: 100vh;
}

div#menutext{
	position: absolute;
	padding-left: 2vw;
	padding-right: 2vw;
	top: 1vh;
	font-family: 'Poiret One', cursive;
	font-size: 2vw;
	line-height: normal;
	overflow: hidden;
}


.slide-up-effect a.slider {
	overflow: hidden;
	color: #fff;
	padding: 0.25vw;
	cursor: pointer;
}

.slide-up-effect a.slider span {
	position: relative;
	z-index: 2;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.slide-up-effect a.slider span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	color: #555;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slide-up-effect a.slider:hover span,
.slide-up-effect a.slider:focus span {
	-webkit-transform: translateY(-105%);
	-moz-transform: translateY(-105%);
	transform: translateY(-105%);
}

div#footerlinks{
	width: 100vw;
	text-align: center;
	position: absolute;
	bottom: 0.5vh;
	font-family: 'Poiret One', cursive;
	font-size: 1em;
	line-height: normal;
	overflow: hidden;
	color: #ccc;

	a.slider{
		color: #ccc;
	}
}

a{
	text-decoration: none;
}





