<div class="slide-up-effect not-mf" id="footerlinks">
	<%= link_to 'https://soundcloud.com/dontknowyusso', target: '_blank', class: 'slider' do %>
		<span data-hover="SoundCloud">SoundCloud</span>
	<%end%>
	<%= link_to 'https://twitter.com/dontknowyusso', target: '_blank', class: 'slider' do %>
		<span data-hover="Twitter">Twitter</span>
	<%end%>
	<%= mail_to 'yussomusic@gmail.com', class: 'slider' do %>
		<span data-hover="Email">Email</span>
	<%end%>
</div>